@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:link .card-title,
a:visited .card-title,
a:hover .card-title,
a:active .card-title {
    color: #2050A0;
    text-decoration: none;
}

.headroom {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: left;
    color: #2050A0;
    font-size: 16px;
    margin-left: 0px;
    font-weight: normal;
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.blue-text {
    background-color: #2050A0;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: BOLD;
}

.satelliteFlexRow {
    display: flex;
    align-items: center;
}

.satelliteImage {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.satelliteDescriptionBox {
    color: white;
    margin-right: 20px;
}

.launchThemeTitle {
    font-size: 20px;
    font-weight: bold;
}

.blue-section {
    background-color: #2050A0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.search-bar {
    width: 800px;
    flex: 1;
    padding: 10px;
    margin-right: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.launches-button {
    background-color: white;
    color: #2050A0;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #2050A0;
    font-weight: bold;
}

.launches-button:hover {
    border: 2px solid #e20036;
    color: #e20036;
    cursor: pointer;
}

.launches-button-empty {
    background-color: white;
    color: #2050A0;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #2050A0;
    font-weight: bold;
}

.page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.launchSection, .satelliteInformationSection {
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 20px;
    justify-content: center;
}

.card {
    width: 280px;
    height: 380px;
    border: 1px solid #707173;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    border: 3px solid #2050A0;
    margin-right: 20px;
}

.card-description {
    color: #2050A0;
    font-size: 14px;
    margin: 10px 0;
}

.card-weight {
    font-size: 16px;
    font-weight: 700;
    color: #2050A0;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #2050A0;
    color: #fff;
    border-radius: 15px;
    border-style: solid;
    border-color: #707173;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.card-button:hover {
    background-color: #205085;
    cursor: pointer;
}

.order-details {
    display: flex;
    align-items: center;
    margin: 20px;
}

.desc-content {
    display: flex;
    flex-direction: column;
}

.desc-title {
    font-size: 24px;
    color: #FFFFFF;
}

.desc-description {
    font-size: 16px;
    color: #2050A0;
}

.desc-weight {
    font-size: 16px;
    font-weight: 700;
    color: #2050A0;
}

.desc-image{
    width: auto;
    height: auto;
    border-radius: 15px;
    object-fit: contain;
    margin-right: 20px;
    border: 3px solid #2050A0;
}

.basket-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: inline-block;
    background-color: #2050A0;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.basket-card {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 800px;
    height: 200px;
    border: 1px solid #707173;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    flex-direction: row;
}

.basket-card-img {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    border: 3px solid #2050A0;
    margin-right: 20px;
}

.basket-card-title {
    color: #2050A0;
}

.basket-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-card:hover {
    border: 2px solid #707173;
}

.basket-card-description {
    color: #2050A0;
    font-size: 14px;
    margin: 10px 0;
}

.basket-card-weight {
    font-size: 16px;
    font-weight: 700;
    color: #2050A0;
}

.basket-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.launch-date-section {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.launch-date-input {
    padding: 00px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    width: 250px;
    background-color: #f0f0f0;
    color: #000;
}

.orbit-input{
    flex: 1;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}