{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blue-section">
        <div class="satelliteFlexRow">
            <h1 class="page-header">
                <a class="blue-text">ПЛАНИРУЕМЫЕ ЗАПУСКИ</a>
            </h1>
        </div>
    </section>
    
    <section class="launch-date-section">
        <form method="post" action="">
            {% csrf_token %}
            <label for="launch_date">Дата запуска:</label>
            <input type="date" id="launch_date" name="launch_date" class="launch-date-input">
            <button type="submit" class="card-button">Подтвердить</button>
        </form>
    </section>
    
    <div class="basket-card-container">
    {% for order in data.orders %}
        <div class="basket-card">
            <img class="basket-card-img" src="{{order.image}}" >
            <div class="basket-content">
                <div class="title">{{order.title}}</div>
                <div class="basket-card-description">{{order.description}}</div>
                <div class="basket-card-weight">{{order.weight}}</div>
                <input name="orbit" type="text" class=BasketInput" value="{{ orbit }}" placeholder="Требуемый тип орбиты" autocomplete="off"></input>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}