{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blue-section">
        <h1 class="page-header">
            <a class="desc-title">{{ data.satellite.title }}</a>
        </h1>
    </section>
    
    <div class="order-details">
        <img class="desc-image" src="{{ data.satellite.image_url }}" alt="{{ data.satellite.title }}">
        <div class="desc-content">
            <div class="desc-description">{{ data.satellite.description }}</div>
            <div class="desc-weight">{{ data.satellite.weight }}</div>
        </div>
    </div>
{% endblock %}
